.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  height: 484px;
  max-width: 460px;
  border-radius: 1px;
  background-color: gray;
}

.output {
  height: 80px;
  background-color: hsl(0, 0%, 25%);
}

.keys {
  gap: 1px;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.keys button:first-child {
  color: #db1234;
  grid-column-end: 4;
  grid-column-start: 1;
  background-color: lightgray;
}

.keys button:nth-child(15) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.keys button:nth-child(2),
.keys button:nth-child(6),
.keys button:nth-child(10),
.keys button:nth-child(14),
.keys button:nth-child(17) {
  background: hsl(0, 0%, 12%);
  color: hsl(192, 75%, 70%);
}


.input,
.result {
  color: #36f0a9;
  height: 80px;
  display: block;
  font-size: 50px;
  text-align: right;
  padding-right: 25px;
}

button {
  border: 1px solid hsl(0, 0%, 75%, 0.3);
  font-family: Arial;
  font-weight: lighter;
  font-size: 28px;
  min-width: 80px;
  min-height: 80px;
}
